html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eee !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.comment {
  margin-top: 5px;
  background-color: #ddd;
  padding: 5px;
  border-radius: 3px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  background-color: white !important;
}
.delete-section {
  display: flex;
  justify-content: space-between;
}
